.navbar {
  background-color: rgb(14, 17, 23);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
  position: relative;
}

.nav-logo {
  color: #f5b921;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-items: center;
}

.nav-logo .icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-left: 16px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-family: Vidaloka;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
  position: relative; /* Make the parent of dropdown menu relative */
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: darkgreen;
}

.nav-item .active {
  color: white;
  border: 1px solid darkgreen;
}

.nav-links.active {
  color: white; /* Set the color of active links to white */
}

.nav-icon {
  display: none;
  color: #f5b921;
}

.nav-icon .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Position the dropdown menu below the parent */
  left: 0;
  z-index: 1; /* Ensure the dropdown appears above other elements */
  background-color: rgba(0, 0, 0, 0.8); /* Set black background color with some transparency */
  padding: 10px;
  border-radius: 4px;
}

.dropdown-menu li {
  list-style-type: none; /* Remove bullet points */
}

.dropdown-menu li a {
  color: #fff; /* Text color */
  text-decoration: none; /* Remove underline */
  display: block; /* Make the links block-level */
  padding: 10px 20px; /* Padding for each link */
  font-size: 1.2rem; /* Increased font size */
}

.dropdown-menu li a:hover {
  background-color: #555; /* Background color on hover */
}

.nav-item:hover .dropdown-menu {
  display: block; /* Show the dropdown menu when the parent is hovered */
}

.nav-item .arrow {
  margin-left: 5px; /* Adjust spacing for the arrow */
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: rgb(14, 17, 23);
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item .active {
    color: white;
    border: none;
  }

  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-logo .icon {
    width: 2rem;
    height: 2rem;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: darkgreen;
  }
}
